.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Mobile - Don't forget to check for responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 12px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.card:hover {
  background-color: var(--card-hover);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 500;
}